.invite{
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(190, 190, 190, 0.5);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
}.arr{
    transform: rotate(180deg);
    width: 15px;
}
.history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rec{
    width:10%; height:120px;
}
