.background-image{
    background-image: url("../images/background-image.png");
    background-size: cover;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
body{
    margin: 0 auto;
}
.logo-style{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color: white;
    border: 2px solid #fff ;
}


.form-group {
    margin: 35px;
}



.form-group input {
    width: 95%;
    padding: 15px;
    border: 2px solid #ccc;
    background-color: hsla(0,0%,100%,.3);
    border-radius: 5px;
}
form{
    width: 95%;
    padding: 35px;
    
}
.forgot-password {
    
    margin-top: 10px;
   
    text-decoration: none; /* Remove underlines from the link */
    color: #878d92; /* Set the link color */
}

.login-button {
    width: 92%;
    margin: 30px;
    padding: 15px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.Register-button{
    width: 92%;
    
    margin: -30px 10px 30px 30px;
    padding: 15px;
    background: linear-gradient(180deg,#565656,#303030);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.verification-code {
    display: none; /* Hide verification code field initially */
}

@media (max-width: 500px) {
    .login-container {
        width: 90%;
        margin: 0;
    }
}