.rebcen{
    background: url("../images/honglibg.png");
    border-radius: 10px;
    background-size: 100% 100%;
    margin: 20px;
    height: 200px;
   
}
.to{
    display: flex;
    flex-direction: column;
    color: white;
}
.prop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}